li {
  list-style: none;
}

.mynav {
  display: grid;
  place-items: center;
  height: 50px;

  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  background-color: darkgrey;
}
.mytitle {
  width: 100%;
  height: 300px;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://img.insight.co.kr/static/2018/10/01/700/yn8jl6i8940e6388a1u5.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mytitle > h1 {
  font-weight: bold;
  font-size: 40px;
}

.searchBar {
  width: 75%;
  display: grid;
  place-items: center;

  grid-template-columns: 100px auto;

  max-width: 800px;
  margin: 90px auto 100px auto;

  box-shadow: 0px 0px 3px 0px black;
  padding: 20px;

  text-align: center;
}

.search-btn-svg {
  height: 50px;
  width: 50px;
}
.search-btn {
  height: 55px;
  width: 55px;
  background-color: transparent;
  border: transparent;
}
.search-text {
  min-width: 100%;
  height: 50px;
  font-size: 30px;
}

.search-result {
  width: 95%;
  max-width: 1100px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto 30px auto;
  box-shadow: 0px 0px 3px 0px black;
  padding: 20px;
  text-align: center;
}
.result-repo {
  width: 95%;
  height: 800px;
  box-shadow: 0px 0px 3px 0px black;
  padding: 20px;
  overflow: scroll;
}
.result-repo > ul {
  height: 100%;
  text-align: left;
  margin: 20px auto 30px auto;
}

.result-repo-item {
  width: 90%;
  height: 80px;
  box-shadow: 0px 0px 3px 0px black;
  margin: 20px auto 30px auto;
}

.card-id > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
