@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

.mynav {
  width: 100%;
  display: grid;
  place-items: center;
  height: 50px;

  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  background-color: darkgrey;
}
.mytitle {
  width: 100%;
  height: 300px;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://img.insight.co.kr/static/2018/10/01/700/yn8jl6i8940e6388a1u5.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mytitle > h1 {
  font-weight: bold;
  font-size: 40px;
}
h1 {
  /* color: #000000; */
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

body {
  background-color: #eac7c7;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.card {
  max-width: 500px;
  background-color: #3cc;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(154, 160, 185, 0.05), 20px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin-bottom: 3rem;
}

/*프로필 사진 부분*/
.profile {
  border-radius: 50%;
  border: 5px solid #000000;
  height: 180px;
  width: 180px;
}

/*유저 정보*/
.user-info {
  color: #000000;
  margin-top: 30px;
  margin-left: 4rem;
  margin-right: 2rem;
}

.user-info h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.user-info ul {
  list-style-type: none;
  /*display: flex;*/
  /*justify-content: space-between;*/
  padding: 0;
  max-width: 400px;
  color: #000000;
}

/*.user-info ul li {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

.user-info ul li strong {
  font-size: 1rem;
  margin-left: 10px;
}

.btn {
  margin-top: 20px;
}

/*즐겨찾기btn*/
.bookmk {
  text-align: center;
  width: 150px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
  font-size: 1.2em;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  display: inline-block;
  transition: transform 300ms ease;
}

.bookmk:hover {
  transform: scale(1.1);
}

.comment {
  margin-top: 30px;
  margin-bottom: 40px;
}

#user-card {
  /* overflow: auto; */
}
