@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


    * {
      font-family: 'Jua', sans-serif;
    }

    .login-box {
          max-width: 500px;
          width: 95%;
          margin:  40px auto 0px auto;

          background-color: #3CC;
          border-radius: 20px;
          box-shadow: 5px 4px rgba(154, 160, 185, 0.05), 20px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          padding: 3rem;
          margin-bottom: 3rem;
    }

    .join-box {
        padding: 30px;
        display: flex;
    }

    .join-box > button {
        margin-right: 20px;
        transition: transform 300ms ease;
    }

    .button:hover {
      transform: scale(1.1);
    }

    * {
      font-family: 'Jua', sans-serif;
    }

    .login-box {
          max-width: 500px;
          width: 95%;
          margin:  40px auto 0px auto;

          background-color: #3CC;
          border-radius: 20px;
          box-shadow: 5px 4px rgba(154, 160, 185, 0.05), 20px 20px rgba(0, 0, 0, 0.1);
          display: flex;
          padding: 3rem;
          margin-bottom: 3rem;
    }

    .join-box {
        padding: 30px;
        display: flex;
    }

    .join-box > button {
        margin-right: 20px;
        transition: transform 300ms ease;
    }

    .button:hover {
      transform: scale(1.1);
    }

