li {
  list-style: none;
}
.mynav {
  display: grid;
  place-items: center;
  height: 50px;

  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  background-color: darkgrey;
}
nav > a {
  text-decoration: none;
}
.mytitle {
  width: 100%;
  height: 300px;
  background-position: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://img.insight.co.kr/static/2018/10/01/700/yn8jl6i8940e6388a1u5.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mytitle > h1 {
  font-weight: bold;
  font-size: 40px;
}

.mypage-result {
  width: 95%;
  max-width: 1500px;
  display: grid;
  place-items: center;
  grid-template-columns: 200px 1fr;
  margin: 20px auto 30px auto;
  /* box-shadow: 0px 0px 3px 0px black; */
  padding: 20px;
  text-align: center;
}

.card-id > img {
  margin-top: 20px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.result-repo {
  width: 95%;
  height: 800px;
  /* box-shadow: 0px 0px 3px 0px black; */
  padding: 20px;
  /* overflow: scroll; */
}
.result-repo > ul {
  height: 100%;
  text-align: left;
  margin: 20px auto 30px auto;
}

.result-repo-item {
  width: 90%;
  height: 80px;
  /* box-shadow: 0px 0px 3px 0px black; */
  border-left: none;
  border-right: none;
  border-bottom: solid;
  margin: 20px auto 30px auto;
}
.result-repo > ul > li > span {
  /* height: 50%; */
  margin: 30px 10px 30px 10px;
  /* float: right; */
  font-size: 30px;
}
.result-repo > ul > li > span > button {
  height: 50%;
  /* text-align: left; */
  float: right;
  font-size: 15px;

  margin: 20px 10px 30px auto;
}
.under-line {
  border-bottom: solid;
}

.mypage-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
