  ::selection {
    background-color: #b5e2e7;
  }

  ::-moz-selection {
    background-color: #8ac7d8;
  }

     * {
         font-family: 'Sofia Sans Semi Condensed', sans-serif;
     }

  .container {
    display: -webkit-flex;
    display: flex;
    height: 100%;

    justify-content: center;
  }

  #logbox {
    padding: 10px;
    margin: 50px auto;
    width: 400px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  }

  h3{
    text-align: center;
    font-size: 150%;
    color: #757575;
    font-weight: 300;
  }
   h5 {
    text-align: center;
    font-size: 100%;
    color: #757575;
    font-weight: 300;
   }

  h3, input {
    font-family: "Open Sans", Helvetica, sans-serif;
  }

  .input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
  }
  .input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
  }
  .input:hover {
    border-bottom-color: #dcdcdc;
  }
  .input:invalid {
    box-shadow: none;
  }

  .pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }

  .inputButton {
    position: relative;
    width: 85%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #3CC;
    border: none;
    -webkit-box-shadow: 0 5px 0 #2CADAD;
    -moz-box-shadow: 0 5px 0 #2CADAD;
    box-shadow: 0 5px 0 #2CADAD;
  }
  .inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2CADAD;
    -moz-box-shadow: 0 3px 0 #2CADAD;
    box-shadow: 0 3px 0 #2CADAD;
  }
  .inputButton:active {
    top: 5px;
    box-shadow: none;
  }
  .inputButton:focus {
    outline: none;
  }

    /*이 아래로 리하가 수정한 네비게이션바(메뉴바) 디자인 코드*/

  .mynav {
    list-style: none;
    display: grid;
    place-items: center;
    height: 70px;

    align-items: center;
    padding: 8px 12px;
    --text-color: white;
    margin: 3px 0;
    font-size: 18px;

    grid-template-columns: 1fr 1fr 1fr 1fr 200px;
  }

  .nav_logo {
    font-size: 40px;
    color: white;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #2CADAD;
    padding: 8px 12px;
    --text-color: white;
    margin: 3px 0;
    font-size: 18px;
  }

  /*메뉴바의 i태그(아이콘. 여기는 깃헙 아이콘만 있음) 디자인*/
  .navbar i {
    font-size: 40px;
    color: white;
  }

  /*메뉴바의 앵커태그 걸린 애들 디자인*/
  .navbar a {
    text-decoration: none;
    color: white;
    border: 3px;
  }

  /*네비게이션바의 메뉴버튼들*/
  .mynav li {
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
  }
  /*네비게이션바의 메뉴버튼 호버시 색변환*/
  .mynav li:hover {
    background-color: var(--accent-color);
    border-radius: 10px;
  }

