<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>member_List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/member.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/member.js') }}"></script>
  </head>

  <body>
    <!-- 네비게이션바 -->
    <nav class="mynav">
      <a href="/">Main</a>
      <a href="/about">About this</a>
      <a href="/UserList">UserList</a>
      <a href="/Mypage">Mypage</a>
      <a href="/Login">Login</a>
    </nav>

    <!-- 메인 이미지 및 타이틀 -->
    <div class="mytitle">
      <h1>Git명부</h1>
    </div>

    <h1>Member List</h1>

    <div id="user-card"></div>
  </body>
</html>
