<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>member_List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/member.css"/>
</head>
<body>



<div class="mytitle">
    <h1>Member List</h1>
</div>


 <div class="card">
        <div>
            <img src="https://source.unsplash.com/random/300×300" class="profile"/>
        </div>
        <div class="user-info">

            <div class="user_name_id">
                <h2>user id</h2>
                <h2>user name</h2>
            </div>

            <div class="comment">
                코멘트들어감
            </div>


            <div class="btn">
                <button type="button" class="bookmk" style=cursor:pointer;>⭐bookmark</button>

            </div>


        </div>
    </div>
 <div class="card">
        <div>
            <img src="https://source.unsplash.com/random/300×300" class="profile"/>
        </div>
        <div class="user-info">

            <div class="user_name_id">
                <h2>user id</h2>
                <h2>user name</h2>
            </div>

            <div class="comment">
                코멘트들어감
            </div>


            <div class="btn">
                <button type="button" class="bookmk" style=cursor:pointer;>⭐bookmark</button>

            </div>


        </div>
    </div>
 <div class="card">
        <div>
            <img src="https://source.unsplash.com/random/300×300" class="profile"/>
        </div>
        <div class="user-info">

            <div class="user_name_id">
                <h2>user id</h2>
                <h2>user name</h2>
            </div>

            <div class="comment">
                코멘트들어감
            </div>


            <div class="btn">
                <button type="button" class="bookmk" style=cursor:pointer;>⭐bookmark</button>

            </div>


        </div>
    </div>













</body>
</html>