<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/pw.js"></script>
        <link href="/static/css/pw.css" rel="stylesheet" type="text/css">
        <title>마이페이지</title>
    </head>
    <body>
        <div id="myInfo">
            <h3>내 정보</h3>
        </div>
        <div id="mySearch">
            <h3>내 즐겨찾기 목록</h3>
            <hr>
            <h4>회원정보 리스트</h4>
        </div>
    </body>
</html>
